

{% extends 'baseFront.html.twig ' %}

{% block titre %}
    Mon Panier
{% endblock %}

{% block section%}
{% endblock %}
{% block corp%}
    <h1>Create new Panier</h1>

    {{ include('panier/_form.html.twig') }}

    <a href="{{ path('app_panier_index') }}">back to list</a>
{%endblock%}



