{% extends 'base.html.twig' %}

{% block title %}Edit ParticipationVoyage{% endblock %}

{% block body %}
    <h1>Edit ParticipationVoyage</h1>

    {{ include('participation_voyage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('participation_voyage_index') }}">back to list</a>

    {{ include('participation_voyage/_delete_form.html.twig') }}
{% endblock %}
