{% block title %}ParticipationVoyage{% endblock %}

{% block body %}

    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-lg-8">

                <div class="mb-5">
                    <img class="img-fluid w-100 mb-4" src="{{ asset('/uploads/voyage/voyage-avec-animal-de-compagnie.jpg')}}" alt="Image">
                    <p class="mr-3" ><i class="fa fa-map-marker"></i> lieu : {{ voyage_organise.pays }}</p>
                    <p class="mr-3" > Tarif :{{ voyage_organise.tarif }}</p>
                    <p>votre participation voyage est validée</p>
                    <img src="{{ qrCode }}" alt="qrCode">
                </div>
            </div>
        </div>
    </div>
{% endblock %}