{% extends 'base.html.twig' %}

{% block title %}Edit EvenementLocal{% endblock %}

{% block body %}
    <h1>Edit EvenementLocal</h1>

    {{ include('evenement_local/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('evenement_local_index') }}">back to list</a>

    {{ include('evenement_local/_delete_form.html.twig') }}
{% endblock %}
